---
import { Image } from "astro:assets";
import ArrowRight from "./ArrowRight.astro";
import HeroImage from "@assets/germs/germs_3.jpeg";
---

<!-- Hero -->
<span class="flex">
<div
    class="relative w-1/2 bg-gradient-to-b from-blue-50 via-blue-100 to-white origin-top-left dark:from-gray-900 dark:via-gray-800 dark:to-gray-900"
>
    <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-10 lg:py-16">
        <div class="max-w-2xl text-center mx-auto">
            <!-- Title -->
            <div class="mt-5 max-w-2xl"
            data-aos-anchor-placement="top-bottom"
            data-aos-delay="0"
            data-aos="flip-up">
                <h1
                    class="block font-semibold text-gray-800 text-6xl md:text-7xl lg:text-8xl dark:text-neutral-200"
                >
                    STEM for Society
                </h1>
            </div>
            <!-- End Title -->

            <div class="mt-5 max-w-3xl">
                <p class="text-lg md:text-xl lg:text-2xl text-gray-600 dark:text-neutral-400">
                    A Needham High School club devoted to service for our community and to help foster knowledge and interest for all!
                </p>
            </div>

            <!-- Buttons -->
            <div class="mt-8 gap-3 flex justify-center">
                <a
                    class="py-3 px-4 inline-flex items-center gap-x-2 text-sm md:text-base lg:text-lg font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
                    href="/events"
                >
                    Events
                    <ArrowRight />
                </a>
                <a
                    class="py-3 px-4 inline-flex items-center gap-x-2 text-sm md:text-base lg:text-lg font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
                    href="/about"
                >
                    About Us
                    <ArrowRight />
                </a>
            </div>
            <!-- End Buttons -->
        </div>
    </div>
</div>
<Image id="hero-image" class="w-1/2 inline border-l-2 border-black dark:border-white object-center object-cover" src={HeroImage} alt="" />
</span>

<style>
    #hero-image {
        mask-image: linear-gradient(rgb(0 0 0 / 100%) 0 80%, transparent);
    }
</style>
<!-- End Hero -->
