---
interface Props {
    image: string;
    imageAlt: string;
    title: string;
    text: string;

}

const { image, imageAlt, text, title } = Astro.props;
---
<div class="w-full h-96 flex gap-4">
    <img src={image} alt={imageAlt} class="border-2 rounded-3xl w-1/2 h-full object-cover object-center" />
    <div>
        <h1 class="text-5xl mb-4">{title}</h1>
        <p class="text-xl font-normal">{text}</p>
    </div>
</div>