<!-- <div class="max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto pt-10">
    <div class="mx-auto max-w-6xl text-center">
        <h2
            class="text-4xl lg:text-6xl text-gray-800 font-bold dark:text-neutral-200"
        >
            Our mission
        </h2>
        <p data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="0" class="text-2xl lg:text-3xl mt-3 text-gray-800 dark:text-neutral-200">
            Our mission is to <span class="text-blue-600 font-semibold">educate</span> our community, and <span class="text-blue-600 font-semibold">increase access</span> across the demographics, about STEM topics.
        </p>
    </div>
</div> -->

<div class="grid grid-cols-2 max-w-[85rem] mx-auto pt-8 px-4">
    <h2 class="text-4xl md:text-5xl mr-48 font-semibold">Our Mission</h2>
    
    <div id="content">
        <p class="text-2xl mb-5">Our mission is to <span class="text-blue-600 font-semibold">educate</span> our community, and <span class="text-blue-600 font-semibold">increase access</span> across the demographics, about STEM topics.</p>
    </div>
</div>