---
import { getCollection } from "astro:content"

const numberOfEventsDone = (await getCollection("events")).length;
const clubMembers = 5;
const studentsTaught = 60;
---

<!-- Features -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Grid -->
    <div class="flex justify-center flex-wrap gap-6 sm:gap-12 lg:gap-8">
      <!-- Stats -->
      <div>
        <h4 class="text-lg sm:text-xl font-semibold text-gray-800 dark:text-neutral-200">Students Taught</h4>
        <p class="mt-2 sm:mt-3 text-5xl sm:text-7xl font-bold text-blue-600">{studentsTaught}</p>
      </div>
      <!-- End Stats -->
  
      <!-- Stats -->
      <div>
        <h4 class="text-lg sm:text-xl font-semibold text-gray-800 dark:text-neutral-200">Members</h4>
        <p class="mt-2 sm:mt-3 text-5xl sm:text-7xl font-bold text-blue-600">{clubMembers}</p>
      </div>
      <!-- End Stats -->
  
      <!-- Stats -->
      <div>
        <h4 class="text-lg sm:text-xl font-semibold text-gray-800 dark:text-neutral-200">Events</h4>
        <p class="mt-2 sm:mt-3 text-5xl sm:text-7xl font-bold text-blue-600">{numberOfEventsDone}</p>
      </div>
      <!-- End Stats -->
    </div>
    <!-- End Grid -->
    <div class="flex justify-center mt-12">
      <span>
        <p class="mt-2 sm:mt-3 text-8xl sm:text-9xl font-bold text-blue-600 inline">1</p>
        <h4 class="text-8xl sm:text-9xl font-semibold text-gray-800 dark:text-neutral-200 inline">Mission</h4>

      </span>
    </div>
  </div>
  <!-- End Features -->