---
import ThreeCardsCard from "./ThreeCardsCard.astro";
import NeedhamFreePublicLibraryImage from "@assets/NeedhamFreePublicLibrary.jpeg";
import NeedhamCouncilOnAging from "@assets/NeedhamCouncilOnAging.jpg";
---

<!-- Card Blog -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto w-full flex justify-center flex-col">
    <!-- Title -->
    <div class="max-w-2xl mx-auto text-center mb-2 lg:mb-4">
        <h2
            class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white"
        >
            What We Do
        </h2>
    </div>
    <!-- End Title -->

    <!-- Grid -->
    <div class="grid grid-flow-col gap-6">
        <ThreeCardsCard
            title="Needham Public Library"
            description="Unique, engaging lessons created and led by high school students, revolving around a particular field in STEM."
            text="These events are free of charge and an hour and a half long. Registration is required and can be found on the <a class='text-blue-600 group-hover:text-blue-700 group-focus:text-blue-700 dark:text-blue-500 dark:group-hover:text-blue-400 dark:group-focus:text-blue-400' href='https://needhamlibrary.org/events/'>Needham Library Events</a> page, spots go fast and are limited!"
            image={{
                src: NeedhamFreePublicLibraryImage,
                alt: "Students helping out at the Needham Public Library.",
            }}
            link="https://needhamlibrary.org/"
        />
        <ThreeCardsCard
            title="Needham Council on Aging"
            description="High school students team up with seniors to explore the world of modern technology through engaging, hands-on presentations."
            text="These free, 90-minute sessions offer personalized guidance and support, including answers to any tech-related questions seniors may have."
            image={{
                src: NeedhamCouncilOnAging,
                alt: "Students helping out at the Needham Council of Aging.",
            }}
            link="https://www.needhamma.gov/519/Council-on-Aging"
        />
    </div>
    <!-- End Grid -->
</div>
<!-- End Card Blog -->
