---
import { Image } from "astro:assets";
import WholeTeamImage from "@assets/scratch/scratch_1.jpeg";
---

<!-- Features -->
<span class="pb-10 lg:pb-14">
  <div class="max-w-[85rem] px-4 pt-5 sm:px-6 lg:px-8 lg:pt-7 mx-auto">
      <!-- Grid -->
      <div class="flex gap-32">
          <!-- End Col -->

          <div class="mt-5 sm:mt-10 lg:mt-0 w-1/4">
              <div class="space-y-6 sm:space-y-8">
                  <!-- Title -->
                  <div class="space-y-2 md:space-y-4">
                      <h2
                          class="font-bold text-4xl md:text-5xl text-gray-800 dark:text-neutral-200"
                      >
                          Welcome to STEM for Society
                      </h2>
                      <p class="text-lg text-gray-500 dark:text-neutral-500">
                          STEM for Society is a high-student-led nonprofit
                          organization dedicated to bridging the gap in STEM
                          education and opportunities within our community. Our
                          team is made up of passionate and driven students who
                          work together to design, implement, and lead STEM
                          programs. We collaborate with local community centers
                          and organizations to bring interactive learning
                          experiences to students of all ages.
                      </p>
                  </div>
                  <!-- End Title -->
              </div>
          </div>

          <div class="w-3/5">
              <Image class="rounded-xl" src={WholeTeamImage} alt="Our Team" />
          </div>
          <!-- End Col -->
      </div>
      <!-- End Grid -->
  </div>
  <!-- End Features -->
</span>