---
import Nav from "@component/Nav";
import { SITE_TITLE } from "@consts";
import "aos/dist/aos.css";
---

<html lang="en" class="h-full">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{SITE_TITLE}</title>
    </head>
    <body class="h-full w-full flex flex-col dark:bg-gray-900">
        <Nav />
        <slot />
    </body>
    <script>
        import "preline/dist/preline.js";
        import AOS from "aos";
        AOS.init();
    </script>
</html>